# PART 2. CREATING, UPDATING, AND DELETING DATA

## Table of Contents
1. [Create database structure](#I.-Create-Database-Structure)
2. [Insert data](#II.-Insert-Data-to-Database)
3. [Verify that everything worked](#III.-Verify-that-rows-created-successfully)
4. [Practice updating and deleting data](#IV.-Practice-Updating-and-Deleting-Data)

## I. Create Database Structure
### 1. Create a database
If the database exists, then connect to it, otherwise create it.

In [18]:
# use the sqlite3 library
import sqlite3

# if the database doesn't exist, it will be created:
conn = sqlite3.connect('../databases/my_music.db')

### 2. Create empty tables
In this section, we will be building 4 tables:
1. Artist
2. Album
3. Genre
4. Track

The cell below creates the structure of the tables, and defines the rules for the data, including (a) the names of each column, (b) their datatypes, and (c) whether or not data for each column is optional or required.

In [19]:
cur = conn.cursor()


cur.execute('''
CREATE TABLE IF NOT EXISTS "Artist" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    "name" TEXT)
''')

cur.execute('''
CREATE TABLE IF NOT EXISTS "Album" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    artist_id INTEGER,
    "title" TEXT)
''')

cur.execute('''
CREATE TABLE IF NOT EXISTS "Genre" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    "name" TEXT)
''')

cur.execute('''
CREATE TABLE IF NOT EXISTS "Track" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    album_id INTEGER, 
    genre_id INTEGER, 
    len INTEGER, 
    rating INTEGER, 
    "title" TEXT, 
    "count" INTEGER)
''')

cur.close()

### 3. Verify that tables have been created
```sql
SELECT name 
FROM sqlite_master 
WHERE type='table';
```

In [20]:
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
results = cur.fetchall()
print(results)

[('Artist',), ('sqlite_sequence',), ('Album',), ('Genre',), ('Track',)]

### 4. Verify that columns have been created
```sql
pragma table_info(<table_name>);
```

In [21]:
tables = ['Artist', 'Album', 'Genre', 'Track']
cur = conn.cursor()
for table in tables:
    cur.execute("pragma table_info({0});".format(table))
    results = cur.fetchall()
    # add a little formatting to make things easier to read:
    print('\n')
    print(table)
    print('-' * 35)
    for row in results:
        print(row[1] + ' (' +  row[2] + ')')

Artist
-----------------------------------
id (INTEGER)
name (TEXT)


Album
-----------------------------------
id (INTEGER)
artist_id (INTEGER)
title (TEXT)


Genre
-----------------------------------
id (INTEGER)
name (TEXT)


Track
-----------------------------------
id (INTEGER)
album_id (INTEGER)
genre_id (INTEGER)
len (INTEGER)
rating (INTEGER)
title (TEXT)
count (INTEGER)

## II. Insert Data to Database
In this section, we will insert data in to each of the 4 tables (Artist, Genre, Album, Track) using the following syntax:
```sql
INSERT INTO <TABLE_NAME> (<COL_1>, <COL_2>, ...)
    VALUES (<VAL_1>, <VAL_2>);
```

**IMPORTANT**: Once you execute all of your statements, don't forget to commit your data (which is like a database's "save" button), or else your data will be lost after you close your Jupyter notebook.

In [22]:
cur = conn.cursor()

# 1. Insert into Artist table:
cur.execute(
    'INSERT INTO Artist (name) VALUES (?);',
    ('Led Zepplin',)
)
cur.execute(
    'INSERT INTO Artist (name) VALUES (?);', 
    ('AC/DC',)
)

# 2. Insert into Genre table:
cur.execute(
    'INSERT INTO Genre (name) VALUES (?);', 
    ('Rock',)
)
cur.execute(
    'INSERT INTO Genre (name) VALUES (?);', 
    ('Metal',)
)

# 3. Insert into Album table:
cur.execute(
    'INSERT INTO Album (title, artist_id) VALUES (?, ?);',
    ('Who Made Who', 2)
)
cur.execute(
    'INSERT INTO Album (title, artist_id) VALUES (?, ?);',
    ('IV', 1)
)

# 4. Insert into Track table:
cur.execute(
    ''' INSERT INTO Track (title, rating, len, count, album_id, genre_id)
        VALUES (?, ?, ?, ?, ?, ?);
    ''',
   ('Black Dog', 5, 297, 0, 2, 1)
) 
cur.execute(
    ''' INSERT INTO Track (title, rating, len, count, album_id, genre_id)
        VALUES (?, ?, ?, ?, ?, ?);
    ''',
    ('Stairway', 5, 482, 0, 2, 1)
)  
cur.execute(
    ''' INSERT INTO Track (title, rating, len, count, album_id, genre_id)
        VALUES (?, ?, ?, ?, ?, ?);
    ''',
    ('About to Rock', 5, 313, 0, 1, 2)
) 
cur.execute(
    ''' INSERT INTO Track (title, rating, len, count, album_id, genre_id)
        VALUES (?, ?, ?, ?, ?, ?);
    ''',
    ('Who Made Who', 5, 207, 0, 1, 2)
) 

cur.close()

# DON'T FORGET TO COMMIT OR YOUR DATA WON'T BE SAVED!!!
conn.commit()

## III. Verify that rows created successfully
Once you're done inserting your data into the database (and have committed it), check to make sure it's in there by querying each table and printing the results to the screen.

### 1. Select all rows in Artist table
```sql
SELECT * FROM Artist
```

In [23]:
cur = conn.cursor()
cur.execute("SELECT * FROM Artist;")
results = cur.fetchall()
cur.close()

for row in results:
    print(row)

(1, 'Led Zepplin')
(2, 'AC/DC!!')
(3, 'Led Zepplin')
(4, 'AC/DC')
(5, 'Led Zepplin')
(6, 'AC/DC')
(7, 'Led Zepplin')
(8, 'AC/DC')
(9, 'Led Zepplin')
(10, 'AC/DC')
(11, 'Led Zepplin')
(12, 'AC/DC')
(13, 'Led Zepplin')
(14, 'AC/DC')
(15, 'Led Zepplin')
(16, 'AC/DC')
(17, 'Led Zepplin')
(18, 'AC/DC')
(19, 'Led Zepplin')
(20, 'AC/DC')
(21, 'Led Zepplin')
(22, 'AC/DC')
(23, 'Led Zepplin')
(24, 'AC/DC')
(25, 'Led Zepplin')
(26, 'AC/DC')

### 2. Select all rows in Genre table
```sql
SELECT * FROM Genre
```

In [24]:
cur = conn.cursor()
cur.execute("SELECT * FROM Genre;")
results = cur.fetchall()
cur.close()

for row in results:
    print(row)

(1, 'Rock')
(2, 'Metal')
(3, 'Rock')
(4, 'Metal')
(5, 'Rock')
(6, 'Metal')
(7, 'Rock')
(8, 'Metal')
(9, 'Rock')
(10, 'Metal')
(11, 'Rock')
(12, 'Metal')
(13, 'Rock')
(14, 'Metal')
(15, 'Rock')
(16, 'Metal')
(17, 'Rock')
(18, 'Metal')
(19, 'Rock')
(20, 'Metal')
(21, 'Rock')
(22, 'Metal')
(23, 'Rock')
(24, 'Metal')
(25, 'Rock')
(26, 'Metal')

### 3. Select all rows in Album table
```sql
SELECT * FROM Album
```

In [25]:
cur = conn.cursor()
cur.execute("SELECT * FROM Album;")
results = cur.fetchall()
cur.close()

for row in results:
    print(row)

(1, 2, 'Who Made Who')
(2, 1, 'IV')
(3, 2, 'Who Made Who')
(4, 1, 'IV')
(5, 2, 'Who Made Who')
(6, 1, 'IV')
(7, 2, 'Who Made Who')
(8, 1, 'IV')
(9, 2, 'Who Made Who')
(10, 1, 'IV')
(11, 2, 'Who Made Who')
(12, 1, 'IV')
(13, 2, 'Who Made Who')
(14, 1, 'IV')
(15, 2, 'Who Made Who')
(16, 1, 'IV')
(17, 2, 'Who Made Who')
(18, 1, 'IV')
(19, 2, 'Who Made Who')
(20, 1, 'IV')
(21, 2, 'Who Made Who')
(22, 1, 'IV')
(23, 2, 'Who Made Who')
(24, 1, 'IV')
(25, 2, 'Who Made Who')
(26, 1, 'IV')

### 4. Select all rows in Track table
Here, we will select data from each table

```sql
SELECT * FROM Track
```

In [26]:
cur = conn.cursor()
cur.execute("SELECT * FROM Track;")
results = cur.fetchall()
cur.close()

for row in results:
    print(row)

(49, 2, 1, 297, 5, 'Black Dog', 0)
(50, 2, 1, 482, 5, 'Stairway', 0)
(51, 1, 2, 313, 5, 'About to Rock', 0)
(52, 1, 2, 207, 5, 'Who Made Who', 0)

## IV. Practice Updating and Deleting Data
Once you've added some data, you can also update and delete data.

### 1. Deleting Records
Let's practice by deleting all of the records in the Track table:
```sql 
DELETE FROM Track;
```

In [13]:
cur = conn.cursor()
cur.execute("DELETE FROM Track;")
cur.close()

# DON'T FORGET TO COMMIT OR YOUR DATA WON'T BE SAVED!!!
conn.commit()

Verify that Track table is now empty:

```sql
SELECT * FROM Track
```

In [14]:
cur = conn.cursor()
cur.execute("SELECT * FROM Track;")
results = cur.fetchall()
cur.close()

print('There should be now 0 records in the Track table:', results)

There should be now 0 records in the Track table: []

### 2. Updating Records
You can also update existing data in your database as follows:
```sql
UPDATE Artist 
    SET name="AC/DC!!!!!!" 
    WHERE id=2;
```

In [15]:
cur = conn.cursor()
cur.execute("UPDATE Artist SET name='AC/DC!!' WHERE id=2;")
cur.close()

# DON'T FORGET TO COMMIT OR YOUR DATA WON'T BE SAVED!!!
conn.commit()

Let's verify that the Artist table has been updated:

```sql
SELECT * from Artist;
```

In [16]:
cur = conn.cursor()
cur.execute("SELECT * FROM Artist;")
results = cur.fetchall()
cur.close()

for row in results:
    print(row[0], row[1])

1 Led Zepplin
2 AC/DC!!
3 Led Zepplin
4 AC/DC
5 Led Zepplin
6 AC/DC
7 Led Zepplin
8 AC/DC
9 Led Zepplin
10 AC/DC
11 Led Zepplin
12 AC/DC
13 Led Zepplin
14 AC/DC
15 Led Zepplin
16 AC/DC
17 Led Zepplin
18 AC/DC
19 Led Zepplin
20 AC/DC
21 Led Zepplin
22 AC/DC
23 Led Zepplin
24 AC/DC

In [17]:
# finally, close the database connection:
conn.close()